.register-btn {
    cursor: pointer;
    margin-right: 1rem;
    font-weight: 300;
}

.application-form-btn {
    cursor: pointer;
    margin-right: 1rem;
    font-weight: 300;
}

.login-btn {
    cursor: pointer;
    margin-right: 1rem;
    font-weight: 300;
}

.logout-btn {
    cursor: pointer;
    margin-right: 2rem;
    font-weight: 300;
}

.nav-brand {
    font-size: 1.7rem;
    margin-left: 2rem;
}

.fill-empty-space {
    flex: 1 1 auto;
}

.nav-toolbar {
    height: 3rem;
    box-shadow: 0 .3rem .7rem .3rem rgba(0, 0, 0, .4);
    font-size: 1rem;
    display: flex;
    flex-direction: row;
}
