<mat-toolbar color="primary" class="nav-toolbar">
        <span class="nav-brand">Lender Form</span>

        <span class="fill-empty-space"></span>

        <ng-template [ngIf]="true">
            <span class="application-form-btn" (click)="toApplicationForm()">Application Form</span>
            <span class="register-btn" (click)="registerNewUser()">Register</span>
            <span class="login-btn" (click)="toLoginPage()">Login</span>
        </ng-template>

        <ng-template [ngIf]="true">
            <span class="logout-btn" (click)="logout()">Logout</span>
        </ng-template>
</mat-toolbar>
