.application-form-section {
    margin: 10rem auto;
    width: 25rem;
}

.datepicker-input {
    width: 5rem;
}

.form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-information {
    width: 100%;
}

.address-input {
    width: 25rem;
}

.address-location-input {
    width: 100%;
}

.city-input-field {
    width: 10rem;
    margin-right: 1rem;
}

.state-input-field {
    margin-right: 1rem;
    width: 5rem;
}

.zipcode-input-field {
    width: 5rem;
}

.name-input-field {
    margin-right: 1rem;
}

.submit-btn {
    width: 10rem;
}