.app-list {
    list-style: none;
}

.app-header {
    margin-left: 5rem;
}

.user-card {
    width: 40%;
    background-color: #eee;
    margin-bottom: .6rem;
}

.application-btn {
    cursor: pointer;
}

.display-tasks-section {
    margin: 0;
    width: 50rem;
}