.app-list {
    list-style: none;
    padding: 0;
}

.app-header {
    margin-left: 1rem;
}

.user-card {
    width: auto;
    background-color: #eee;
    margin-bottom: .6rem;
}

.application-btn {
    cursor: pointer;
}

.display-tasks-section {
    border-radius: 15px;
    margin: 1rem 3rem;
    width: 30rem;
}